$sansR: 'Open Sans Regular';
$sansB: 'Open Sans Bold';

// COLORS
$bg: #251E40;
$bgLight: #2B234B;
$bgButton: #2E2E50;
$bgActiveInvalid: #FE9D5E;
$bgActive: #FE741A;
$bgFooter: #0E0D1B;
$grey: #aeaeae;
$white: #E7E7E7;
$textP: #413B57;
$grey: #9292A2;
$red: #e84a5f;
// END COLORS